[Unit]
Description=PWM Control Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/pwm_daemon
Restart=always
User=root
Group=kmem
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
